@import "tailwindcss";

body {
  --font-sans: var(--font-archivo);
  --font-mono: var(--font-chivo-mono);
  --font-title: var(--font-archivo-black);
  --font-title-alt: var(--font-archivo-narrow);
  --color-orange-600: rgb(201, 91, 31);
}

@theme {
  --font-sans: var(--font-archivo);
  --font-mono: var(--font-chivo-mono);
  --font-title: var(--font-archivo-black);
  --font-title-alt: var(--font-archivo-narrow);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Archivo, Arial, Helvetica, sans-serif;
}
