/* Copied from squircle.css for CSS Modules */
.button {
	outline: none;
	border: none;
	--squircle-smooth: 0.8;
	--squircle-radius: 20px;
}

.fill {
	/* background: var(--squircle-background, black);
	mask-image: paint(squircle); */
  background: paint(squircle);
  --squircle-fill: var(--squircle-background, black);
  transition: --squircle-fill 0.2s ease;
}

.fill:hover {
  --squircle-fill: var(--squircle-background-hover, var(--squircle-background, black));
}
